<br>
<div class="info-header">
  <a href="http://<%= model.escape('website') %>" target="_blank"><%= model.escape("name") %>
    <div class="logo-container">
       <img class="logo" src="<%= model.escape("image") %>" alt="<%= model.escape("name") %>"/>
    </div>
  </a>
</div>

<div class="info-container fundamentals"></div>
<div class="info-container links">
  <%= JST["security/_security_links"]({ model: model }) %>
</div>
