<% var sym = model.escape('symbol') %>
<div class='security-show-links'>
  <a href="http://www.finviz.com/quote.ashx?t=<%= sym %>" class='btn' target="_blank">Finviz</a>
</div>
<div class='security-show-links'>
  <a href="http://www.google.com/finance?q=<%= sym %>" class='btn' target="_blank">Google Finance</a>
</div>
<div class='security-show-links'>
  <a href="http://quote.morningstar.com/stock/s.aspx?t=<%= sym %>" class='btn' target="_blank">Morningstar Page</a>
</div>
<div class='security-show-links'>
  <a href="http://caps.fool.com/Ticker/<%= sym %>.aspx" class='btn' target="_blank">The Motley Fool</a>
</div>
<div class='security-show-links'>
  <a href="http://investing.money.msn.com/investments/stock-price?Symbol=<%= sym %>" class='btn' target="_blank">MSN Money Page</a>
</div>
<div class='security-show-links'>
  <a href="http://seekingalpha.com/symbol/<%= sym %>" class='btn' target="_blank">SeekingAlpha</a>
</div>
<div class='security-show-links'>
  <a href="http://stockcharts.com/h-sc/ui?s=<%= sym %>" class='btn' target="_blank">StockCharts.com</a>
</div>
<div class='security-show-links'>
  <a href="http://www.thestreet.com/quote/<%= sym %>.html" class='btn' target="_blank">TheStreet.com</a>
</div>
<div class='security-show-links'>
  <a href="http://finance.yahoo.com/q?s=<%= sym %>" class='btn' target="_blank">Yahoo Finance</a>
</div>
