<div class="form-container text-center">
  <form
    action='<%= form_action %>'
    method='post'
    class='text-left user-form'>
  <h1><%= action %></h1>
  <%= auth_token %>

  <% if flash[:user_notices] %>
  <div>
    <ul>
      <% flash[:user_notices].each do |notice| %>
      <li>
        <%= notice %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class='form-group'>
    <label>Email Address:
      <input
        type='text'
        name='user[email]'
        class="form-control"
        value='<%= h(user.email) %>'
        placeholder="Email">
    </label>
  </div>

  <div class='form-group'>
    <label>Password:
      <input
        type='password'
        name='user[password]'
        class="form-control"
        placeholder="Password">
    </label>
  </div>

  <input type='submit' value='<%= action %>' class="btn btn-primary">
</form>
</div>
