<form>
  <div class='form-group'>
    <ul class='form-errors'>
    </ul>
  </div>

  <div class='form-group'>
    <label for="post-title">Title: </label>
    <input
      name="post[title]"
      type="text"
      placeholder="Title (required)"
      value="<%= model.escape("title") %>"
      id="post-title"/>
  </div>

  <div class='form-group'>
    <label for="post-shared-with">Shared with: </label>
    <input
      name="post[shared_with][]"
      type="checkbox"
      value="public"
      <%= /\bpublic\b/i.test(model.escape("shared_with")) ? "checked" : ""%>
      id="post-title"/>public
  </div>

  <div class='form-group'>
    <label for="post-tags">Tags: </label>
    <input
      name="post[tags]"
      type="text"
      placeholder="Tags (optional)"
      value="<%= model.escape("tags") %>"
      id="post-title"/>
  </div>

  <div class='form-group'>
  <label for="post-body">Body</label>
  <br>
  <textarea
    name="post[body]"
    placeholder="Body (optional)"
    data-provide="markdown-editable"
    id="post-body"><%= marked( model.escape("body") ) %></textarea>
  </div>

  <input
    type="submit"
    class="btn post-submit"
    value="<%= model.isNew() ? "create post" : "save edit"%>">
</form>
