<div class="current-time">
  <%= localTime + " " + localTZ %>
  <%= (eastLocalOffset) ? "• " + eastTime + " " + eastTZ : "" %>
  • market <%= (nextClose) ? "opened" : "closed" %>
  • <%= (nextOpen) ? "opens" : "closes" %> in <%= countdown %>
</div>
<div class="market-status">
  <% if (nextOpen) { %>
    The market is currently closed. Data will be updated when the market opens on <%= nextOpen %>.
  <% } else { %>
    The market is actively trading. Data will be actively updated until <%= nextClose %>.
  <% } %>
</div>
